---
import Hero from '../components/Hero.astro'
import LinkCard from '../components/LinkCard.astro'
import SpotifyWidget from '../components/SpotifyWidget.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class="main">  
    <Hero />
    <LinkCard />
    <SpotifyWidget />
  </div>
</Layout>

