<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>adfs</h1>
  <button>Hola</button>
  <div></div>
  <div></div>
</body>
<style>
  h1 {
    color: red; 
  }
  button {
    color: red;
    background-color: black;
  }
  body {
    max-width: 850px;
  }
</style>
</html>
